/* @font-face {
    font-family: Cantarell;
    src: url(/fonts/Cantarell-VF.otf);
} */
@import url('https://api.fontshare.com/v2/css?f[]=general-sans@1&display=swap" rel="stylesheet');
@media (prefers-color-scheme: light) {
    :root {
        --body: rgb(242,242,242);
        --white: white;
        --blue: rgb(0,155,255);
        --alpha-blue: rgba(0,155,255,0.1);
        --light: rgb(252, 252, 252);
        --dark: rgb(28, 28, 28);
        --gray: rgb(232,232,232);
        --transparent: rgba(0, 0, 0, 0.4);
        --transparent2: rgba(242, 242, 247, 0.8);
    }
}
@media (prefers-color-scheme: dark) {
    :root {
        --body: rgb(18,18,18);
        --white: white;
        --blue: rgb(55,155,255);
        --alpha-blue: rgba(55,155,255,0.1);
        --light: rgb(28,28,28);
        --dark: rgb(252,252,252);
        --gray: rgb(38,38,38);
        --transparent: rgba(0,0,0,0.4);
    }
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'General Sans' , sans-serif;
    text-rendering: optimizeLegibility;
    scroll-behavior:smooth;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--body);
    overflow-x: hidden;
}
a {
    text-decoration: none;
}
.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'navbar navbar navbar navbar'
        'box-header box-header box-header box-header'
        'box box box box'
        'footer footer footer footer';
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: .5em;
    padding: 1em;
}
.navbar {
    position: sticky;
    top: 1em;
    grid-area: navbar;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    align-items: center;
    text-align: center;
    gap: 1em;
    padding: 1em;
    background-color: var(--light);
    border-radius: .3em;
    z-index: 999;
}
.logo {
    margin: 0;
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: -0.05em;
    color: var(--dark);
    background-color: var(--light);
}
#nav-items-toggler , .bars {
    display: none;       
}
.nav-items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-weight: 500;
}
.nav-items > li > a {
    border-radius: 5em;
    padding: .3em 1em;
    font-size: 1.2em;
    font-weight: 500;
    color: var(--dark);
    text-decoration: none;
    z-index: -2000;
}
.nav-items > li > a.active{
    background-color: var(--gray);
}
.box-header {
    grid-area: box-header;
    display: flex;
    gap: 2em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
    box-shadow: 0 1px 0 var(--gray);
    text-align: center;
    color: var(--dark);
}
.box-header > h2 {
    font-size: 4em;
    font-weight: 600;
    letter-spacing: -0.06em;
    text-shadow: 0px 0px 5px var(--shadow);
}
.box-header > p {
    padding: 0.6em 6em;
    color: var(--dark);
    font-size: 2.2em;
    font-weight: 400;
    letter-spacing: -0.04em;
}
.boxes {
    display: grid;
    gap: .5em;
    grid-area: box;
    grid-template-columns: repeat(5,1fr);
    justify-content: start;
    align-items:flex-start;
}
.boxes-desktop {
    display: grid;
    gap: .5em;
    grid-area: box;
    grid-template-columns: repeat(3,1fr);
    justify-content: start;
    align-items:flex-start;
}
.boxes-device {
    min-height: 80vh;
    max-height: 45vh;
    display: grid;
    gap: .5em;
    grid-area: box;
    grid-template-columns: repeat(2,1fr);
}
.boxes-categories {
    display: grid;
    gap: .5em;
    grid-area: box;
    grid-template-columns: repeat(2,1fr);
}
.box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: .3em;
    cursor: pointer;
    overflow: hidden;
}
.box > img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}
.box > label {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 100%;
    height: 100%;
    padding: 1em 1em;
    font-weight: 600; 
    font-size: 2rem;
    letter-spacing: 0.1em;
    background-color: var(--transparent);
    backdrop-filter: saturate(200%);
    -webkit-backdrop-filter: saturate(200%);
    color: white;
    text-shadow: 0 0 5px var(--transparent);
}
.device {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.phone {
    background-image: url(https://source.unsplash.com/R3pUGn5YiTg);
}
.desktop {
    background-image: url(https://source.unsplash.com/R3pUGn5YiTg);
    filter:hue-rotate(45deg);
}
.a {
    height: 40vh;
    background-color: var(--light);
    background: url(https://source.unsplash.com/512x512/?abstract);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.b {
    height: 40vh;
    background-color: var(--light);
    background: url(https://source.unsplash.com/512x512/?aerial);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.c {
    height: 40vh;
    background-color: var(--light);
    background: url(https://source.unsplash.com/512x512/?3d-render+render);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.d {
    height: 40vh;
    background-color: var(--light);
    background: url(https://source.unsplash.com/512x512/?minimal);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.e {
    height: 40vh;
    background-color: var(--light);
    background: url(https://source.unsplash.com/512x512/?nature);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.f {
    height: 40vh;
    background-color: var(--light);
    background: url(https://source.unsplash.com/512x512/?mountain);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.g {
    height: 40vh;
    background-color: var(--light);
    background: url(https://source.unsplash.com/512x512/?blossom);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
footer {
    padding: 1.5em;
    grid-area: footer;
    display: flex;
    gap: 1em;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: var(--light);
    border-radius: .3em;
    font-weight: 500;
    color: var(--dark);
}
.buttons {
    display: flex;
    gap: .5em;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.buttons > a {
    background-color: var(--dark);
    color: var(--light);
    padding: .3em .4em;
    border-radius: 5em;
    width: 6em;
    text-align: center;
    font-size: 1.5em;
    font-weight: 400;
}
@media screen and (max-width: 900px) {
    /* .boxes , .boxes-desktop , .boxes-device , .boxes-categories {
        gap: .5em;
        padding: .5em;
    }*/
    .box-header {
        padding: 1.5em 1em;
    }
    .box-header > h2{
        font-size: 2.5em;
        letter-spacing: -0.03em;
    }
    .box-header > p{
        padding: 0.4em;
        font-size: 1.5em;
        letter-spacing: -0.02em;
    }
}
@media screen and (min-width: 780px) {
    .boxes-device {
        grid-template-columns: repeat(2,1fr);
    }
}
@media screen and (max-width: 780px) {
    .boxes {
        grid-template-columns: repeat(2,1fr);
    }
    .boxes-desktop {
        grid-template-columns: repeat(1,1fr);
    }
    .boxes-device {
        grid-template-columns: repeat(1,1fr);
    }
    .boxes-categories {
        grid-template-columns: repeat(1,1fr);
    }
}
@media screen and (max-width: 480px) {
    .navbar{
        justify-content: space-between;
    }
    .nav-items {
        position:absolute;     
        top: 100%;   
        left: 0;
        transform: scale(1 , 0);
        transform-origin: top;
        background-color: var(--light);
        border-bottom-left-radius: .3em;
        border-bottom-right-radius: .3em;
        box-shadow: 0 -1px 0 var(--gray);
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2em;
        width: 100%;
        padding: 2em 0;
        overflow-y: auto;
        transition: transform .4s ease;
        z-index: -1000;
    }
    .nav-items > li {
        transform: scale(0);
        transition: transform 0.2s ease;
    }
    .bars {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        height: 100%;
        padding: .5em 0;
        z-index: 1000;
    }
    .bars > div {
        background-color: var(--dark);
        border-radius: 1em;
        height: 3px;
        transition: all .4s ease;
    }
    .bar1 {
        width: 2em;
        transform: translateY(-3px);
    }
    .bar2 {
        width: 2em;
        transform: translateY(3px);
    }
    #nav-items-toggler:checked ~ .navbar {
        border-top-left-radius: 0.3em;
        border-top-right-radius: .3em;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    #nav-items-toggler:checked ~ .navbar .nav-items {
        transform: scale(1 , 1);
    }
    #nav-items-toggler:checked ~ .navbar .nav-items > li {
        transform: scale(1);
        transition: transform 0.4s ease;
    }
    #nav-items-toggler:checked ~ .navbar .bars .bar1 {
        transform: translateY(3px) rotate(-45deg);
    }
    #nav-items-toggler:checked ~ .navbar .bars .bar2 {
        transform: translateY(0) rotate(45deg);
    }
}
@media screen and (max-width: 230px) {
    .logo {
        font-size: 2rem;
    }
}