@font-face {
    font-family: InterVariable;
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
    src: url("./fonts/InterVariable.woff2?v=4.0") format("woff2-variations"),
         url("./fonts/InterVariable.woff2?v=4.0") format("woff2");
    src: url("./fonts/InterVariable.woff2?v=4.0") format("woff2") tech("variations");
}
@media (prefers-color-scheme: light){
    :root{
        --bg-clr: rgb(245,245,245);
        --secondary-bg-clr: rgba(225,225,225,0.9);
        --nav-clr: linear-gradient(180deg, var(--bg-clr), rgba(0,0,0,0));
        --logo: linear-gradient(90deg, rgb(120,120,120), rgb(60,60,60));
        --font-clr: rgba(0,0,0,0.9);
        --label-clr: rgba(255,255,255,0.9);
        --active-clr: rgba(220,220,220,0.9);
        --border: 1px solid rgb(160,160,160);
        --loading-circle: 6px solid rgb(50,50,50); 
    }
}
@media (prefers-color-scheme: dark){
    :root{
        --bg-clr: rgb(10,10,10);
        --secondary-bg-clr: rgba(20,20,20,0.9);
        --nav-clr: linear-gradient(180deg, var(--bg-clr), rgba(0,0,0,0));
        --logo: linear-gradient(90deg, rgb(220,220,220), rgb(120,120,120));
        --font-clr: rgba(255,255,255,0.9);
        --label-clr: rgba(255,255,255,0.9);
        --active-clr: rgba(40,40,40,0.9);
        --border: 1px solid rgb(40,40,40);
        --loading-circle: 6px solid rgb(150,150,150);
    }
}
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    user-select: none;
    scroll-behavior: smooth;
    text-rendering: auto;
    line-height: 1.5;
    font-family: InterVariable, system-ui;
    -webkit-font-feature-settings: 'liga' 1, 'calt' 1;
            font-feature-settings: 'liga' 1, 'calt' 1;
    font-variation-settings: 'opsz' 32;
    list-style: none;
    color: var(--font-clr);
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
            user-select: none;
}
::-webkit-scrollbar{
    background-color: transparent;
    width: .2rem;
    transition: all .4s ease;
}
::-webkit-scrollbar:hover{
    width: .4rem;
    transition: all .4s ease;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(60,60,60);
    border-radius: 999px;
}
body{
    width: 100vw;
    background-color: var(--bg-clr);
    overflow-x: hidden;
    transform-origin: top;
}
.disable-scroll{
    overflow: hidden;
}
#openedImgOverlay{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    padding-block: 2em;
    transform: translate(-50%, -50%) scale(0);
    background-color: var(--secondary-bg-clr);
    display: grid;
    gap: 2em;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 9998;
    transition: all 0.3s ease;
    transform-origin: center center;
}
#openedImgOverlay.zoomed{
    transform: translate(-50%, -50%) scale(1);
}
#imgOpened{
    max-width: 80vw;
    max-height: 80vh;
    border: 1px solid rgb(40,40,40);
    border-radius: 10px;
    background-color: var(--secondary-bg-clr);
    object-fit: contain;
    object-position: center;
    display: block;
    z-index: 9999;
}
.loadingImg{
    position: fixed;
    width: 5rem;
    height: 5rem;
    border: var(--loading-circle);
    border-top-color: transparent;
    border-radius: 999px;
    display: flex;
    align-self: center;
    justify-self: center;
    -webkit-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;
}
@-webkit-keyframes spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
@keyframes spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
h1,
h2,
h3,
h4,
h5,
h6{
    font-weight: 600;
}
a{
    text-decoration: none;
}
nav{
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-image: var(--nav-clr);
    position: sticky;
    top: 0;
    padding-block: 1rem;
    padding-inline: 1rem;
    display: flex;
    gap: 1em;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: transform .5s ease;
}
.logo{
    font-size: 2.5rem;
    letter-spacing: -1.5px;
    background-image: var(--logo);
    background-repeat: no-repeat;
    background-size: contain;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-block: 0em;
    padding-inline: 1em;
    border-radius: 5px;
}
nav ul{
    padding: 6px;
    display: flex;
    gap: .3rem;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-clr);
    border: var(--border);
    border-radius: 999px;
}
ul li{
    position: relative;
    width: 100%;
    height: 100%;
    padding-block: .3rem;
    padding-inline: 1rem;
    border-radius: 999px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
}
li a{
    width: 100%;
    height: 100%;
    display: block;
}
.active{
    font-weight: 500;
    background-color: var(--active-clr);
    transition: font-weight .8s linear;
    -webkit-animation: clip-path .4s forwards linear;
            animation: clip-path .4s forwards linear;
}
@-webkit-keyframes clip-path{
    from{
        clip-path: circle(0% at center);
        background-color: rgba(255,255,255,0.5);
    }
    to{
        clip-path: circle(100% at center);
        background-color: var(--active-clr);
    }
}
@keyframes clip-path{
    from{
        clip-path: circle(0% at center);
        background-color: rgba(255,255,255,0.5);
    }
    to{
        clip-path: circle(100% at center);
        background-color: var(--active-clr);
    }
}
main{
    width: 93%;
    margin: auto;
    display: flex;
    gap: 1em;
    flex-direction: column;
    transition: all .2s ease;
}
header{
    padding-block: 3rem;
    padding-inline: 1rem;
    text-align: center;
    display: flex;
    gap: 2em;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all .2s ease;
}
header h2{
    font-size: 3rem;
    font-weight: 200;
    line-height: 1.1;
}
header p{
    font-size: 1.4rem;
    font-weight: 300;
    width: 100%;
}
header ul{
    background-color: var(--bg-clr);
    border: var(--border);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
header ul li{
    padding: 0;
}
header ul li a{
    width: 10em;
    padding-block: .5rem;
    padding-inline: 2rem;
    display: block;
}
header ul li a:hover, header ul li a:active{
    background-color: var(--active-clr);
} 
header ul li.divider{
    height: 1px;
    padding: 0;
    border-radius: 0;
    border-right: none;
    background-color: var(--active-clr);
}
.device{
    display: flex;
    gap: 1em;
    flex-direction: column;
}
.device a{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
}
.device a img{
    filter: brightness(50%) saturate(125%);
}
.device a label{
    width: 100%;
    padding: .5em;
    position: absolute;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}
.category{
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
}
.box{
    width: 100%;
    height: 100%;
    position: relative;
    cursor: zoom-in;
    overflow: hidden;
    border-radius: 10px;
    border: var(--border);
    background-color: var(--secondary-bg-clr);
    display: flex;
    align-items: center;
    justify-content: center;   
    transition: border-radius .2s linear;
}
.box img{
    width: 100%;
    height: 100%;
    display: block;
}
.box:hover{
    border-radius: 50px;
}
.box:active{
    border-radius: 10px;
}
.box.phone label, .box.desktop label, .box label{
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: rgba(0,0,0,0.4);
    color: var(--label-clr);
    font-size: 2.2rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}
.phone{
    min-height: 50vh;
    max-height: 50vh;
    background-image: url(https://source.unsplash.com/r9SdLRda3W0);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.desktop{
    min-height: 50vh;
    max-height: 50vh;
    background-image: url(https://source.unsplash.com/kNx8H8ScHDk);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.a{
    min-height: 50vh;
    max-height: 50vh;
    background-image: url(https://source.unsplash.com/512x512/?abstract);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.b{
    min-height: 50vh;
    max-height: 50vh;
    background-image: url(https://source.unsplash.com/512x512/?aerial);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.c{
    min-height: 50vh;
    max-height: 50vh;
    background-image: url(https://source.unsplash.com/512x512/?3d-render+render);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.d{
    min-height: 50vh;
    max-height: 50vh;
    background-image: url(https://source.unsplash.com/512x512/?minimal);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.e{
    min-height: 50vh;
    max-height: 50vh;
    background-image: url(https://source.unsplash.com/512x512/?nature);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.f{
    min-height: 50vh;
    max-height: 50vh;
    background-image: url(https://source.unsplash.com/512x512/?mountain);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.g{
    min-height: 50vh;
    max-height: 50vh;
    background-image: url(https://source.unsplash.com/512x512/?blossom);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
  
.img-grid{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 1em;
}
.img-container-1, .img-container-2{
    width: 100%;
    height: 100%;
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr;
}
.desktop-img-grid{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 1em;
}
.desktop-img-container-1, .desktop-img-container-2{
    width: 100%;
    height: 100%;
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr;
}
footer{
    width: 100%;
    padding-block: 2em;
    padding-inline: 1em;
    background-color: var(--bg-clr);
    border-top: var(--border);
    display: flex;
    gap: 1rem;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: justify;
}

/* large screen */
@media screen and (min-width: 800px){
    main{
        width: 80%;
    }
    header h2{
        font-size: 3rem;
    }
    header p{
        width: 70%;
        font-size: 1.8rem
    }
    .device{
        gap: 2em;
        flex-direction: row;
    }
    .category{
        gap: 2rem;
        grid-template-columns: 1fr 1fr;
    }
    .img-grid{
        gap: 2em;
    }
    .desktop-img-grid{
        gap: 2em;
        grid-template-columns: 1fr 1fr;
    }
    .desktop-img-container-1, .desktop-img-container-2{
        gap: 2em;
    }
    .img-container-1, .img-container-2{
        gap: 2em;
        grid-template-columns: 1fr 1fr;
    }
    footer{
        flex-direction: row;
        gap: 3em;
    }
}