@import url("https://api.fontshare.com/v2/css?f[]=general-sans@1&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900;8..144,1000&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://rsms.me/inter/inter.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap');
@media (prefers-color-scheme: light) {
    :root {
        --body: #eeeeee;
        --white: #fafafa;
        --light: #fafafa;
        --dark: #212121;
        --shadow: rgba(0,0,0,0.2);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --body: #101010;
        --white: #fafafa;
        --light: #212121;
        --dark: #fafafa;
        --shadow: rgba(0,0,0,0.2);
    }
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    font-family: 'Roboto' , sans-serif;
    background-color: var(--body);
    overflow-x: hidden;
    scroll-behavior:smooth;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

a {
    display: block;
    text-decoration: none;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
        'logo logo logo logo'
        'navbar navbar navbar navbar'
        'box-header box-header box-header box-header'
        'box box box box'
        'footer footer footer footer';
    justify-content: center;
    align-items: center;
    width: 100%;
}

.navbar {
    position: sticky;
    top: 0;
    grid-area: navbar;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;
    text-align: center;
    padding: 1em .5em;
    box-shadow: 0 5px 5px -5px var(--shadow);
    background-color: var(--light);
    z-index: 999;
}

.logo {
    grid-area: logo;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-weight: 700;
    font-size: 2.5rem;
    letter-spacing: -0.15rem;
    color: var(--dark);
    background-color: var(--light);
}

#menuToggler , .bars {
    display: none;
}

.nav-items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: .5em;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-weight: 500;
    font-size: 18px;
}

.nav-items > li > a {
    color: var(--dark);
    padding: .4em 1em;
}

.nav-items > li > a.active{
    border-radius: 5px;
    color: var(--light);
    background-color: var(--dark);
    box-shadow: 0px 2px 4px var(--shadow);
}

.box-header {
    grid-area: box-header;
    margin: 2rem 2rem 0 2rem;
    padding: 2em 1em;
    border-radius: 5px;
    background-image: url(https://source.unsplash.com/xyuYk9oLA8I);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    color: var(--white);
    letter-spacing: -0.1rem;
    font-size: 2.5em;
    box-shadow: 0px 0px 5px var(--shadow);
    text-shadow: var(--shadow);
}

.box-header > p {
    color: var(--white);
    font-weight: 400;
    font-size: .9em;
    letter-spacing: -1px;
}

.boxes {
    display: grid;
    gap: 2em;
    padding: 2rem;
    grid-area: box;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.boxes-desktop {
    display: grid;
    gap: 2em;
    padding: 2em;
    grid-area: box;
    grid-template-columns: 1fr 1fr;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.boxes-device {
    display: grid;
    gap: 2em;
    padding: 2em;
    grid-area: box;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 0px 5px var(--shadow);
    cursor: pointer;
    overflow: hidden;
    transition: all .3s ease;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.box-height {
    height: 45vh;
}

.box-height-phone {
    height: 50vh;
}

.box > label {
    cursor: pointer;
    width: 100%;
    padding: 1em 1em;
    font-weight: 500; 
    font-size: 20px;
    letter-spacing: 1px;
    color: var(--white);
    background-color: rgba(0,0,0,0.5);
}

.device {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.phone {
    background-image: url(https://source.unsplash.com/5xTYgw2g7aw);
}

.desktop {
    background-image: url(https://source.unsplash.com/2L-0vnCnzcU);
}

.a {
    background-color: var(--light);
    background: url(https://source.unsplash.com/512x512/?abstract);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.b {
    background-color: var(--light);
    background: url(https://source.unsplash.com/512x512/?aerial);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.c {
    background-color: var(--light);
    background: url(https://source.unsplash.com/512x512/?3d-render+render);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.d {
    background-color: var(--light);
    background: url(https://source.unsplash.com/512x512/?minimal);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.e {
    background-color: var(--light);
    background: url(https://source.unsplash.com/512x512/?nature);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.f {
    background-color: var(--light);
    background: url(https://source.unsplash.com/512x512/?patterns);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

footer {
    padding: .5em 1em;
    grid-area: footer;
    display: flex;
    gap: .5em;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: var(--light);
    box-shadow: 0px 0px 5px var(--shadow);
    font-weight: 500;
    color: var(--dark);
}

.buttons {
    width: 100%;
    display: flex;
    gap: .5em;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.buttons > a {
    background-color: var(--white);
    color: black;
    padding: .3em .4em;
    border-radius: 5px;
    display: block;
    width: 5em;
    text-align: center;
    font-weight: 400;
}

@media screen and (max-width: 1080px) {
    .boxes , .boxes-desktop , .boxes-device {
        gap: 1em;
        padding: 1em;
    }

    .box-header {
        margin: 1rem 1rem 0 1rem;
        padding: 1.5em;
        font-size: 1.5em;
    }
}

@media screen and (min-width: 780px) {
    .boxes-device {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 780px) {
    .boxes {
        grid-template-columns: 1fr 1fr;
    }

    .boxes-desktop {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 230px) {
    .logo {
        font-size: 2.5rem;
    }
}